.hero{
    background-position: center;
    background-repeat: no-repeat;

}


.bg-black{
    background-color: black;
}

@media only screen and (min-width: 1300px) {
    
    .hero {
      height: 911px;
    }

  }

.text_animate{
    animation-duration: 700ms !important;

}

.illu_animate{
    animation-duration: 300ms !important;

}

.illu_1{
    width: 553px;
    height: 383px;
}

.illu_1_left{
    position: absolute;
    z-index: 200;
    bottom: 36px;
    left:15px;
    border-radius: 12px;
    box-shadow: 0 4px 5px -2px rgb(0 0 0 / 10%), 0 7px 10px 1px rgb(0 0 0 / 7%), 0 2px 16px 1px rgb(0 0 0 / 6%);
    animation-duration: 300ms !important;
    animation-delay: 400ms !important;
    transform-origin: 150px;
}

.illu_1_middle{
    position: absolute;
    z-index: 100;
    top: 0;
    left:54px;
    border-radius: 8px;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 10%), 0 4px 5px 0 rgb(0 0 0 / 7%), 0 1px 10px 0 rgb(0 0 0 / 6%);
    animation-duration: 700ms !important;
}

.illu_1_right{
    position: absolute;
    z-index: 300;
    top:78px;
    right: 0;
    border-radius: 8px;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 10%), 0 5px 8px 0 rgb(0 0 0 / 7%), 0 1px 14px 0 rgb(0 0 0 / 6%);
    animation-duration: 600ms !important;
    animation-delay: 100ms !important;
    transform-origin: 0px;
}

.photo_3{
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 10%), 0 4px 5px 0 rgb(0 0 0 / 7%), 0 1px 10px 0 rgb(0 0 0 / 6%);
    border-radius: 8px;

}

.illu_3_right{
    position: absolute;
    z-index: 9000;
    top: 140px;
    right: 48px;
    width: 160px;
    box-shadow: 0 4px 5px -2px rgb(0 0 0 / 10%), 0 7px 10px 1px rgb(0 0 0 / 7%), 0 2px 16px 1px rgb(0 0 0 / 6%);

}